{% extends "base.html" %}
<meta name="fediverse:creator" content="@btp@fosstodon.org">

{% block title %}
{{ page.title }}
{% endblock title %}

{% block content %}
<center>
<div class="page-content">
  <h2 class="blog-title">
    {{ page.title }}
  </h2>

  <small class="blog-description">
    {{ page.description }}
  </small>

  <div class="post-dates">
    <small>
      <p class="date-stamp">
        {% if page.updated %}
          <b>Updated</b> · {{ page.updated }} |
        {% endif %}
          <b>Published</b> · {{ page.date }}
      </p>
    </small>
  </div>
  
  <div class="tag-container">
  {% if page.taxonomies %}
    {% set map = page.taxonomies %}
    {% set_global tags = [] %}
  
    {% for tax, tag in map %}
      {% set_global tags = tags | concat(with=tag) %}
    {% endfor %}
  
    {% for tag in tags %}
      <small><a href="/tags/{{ tag }}" class="tag">{{ tag }} </a></small>
    {% endfor %}
  {% endif %}
  </div>

  {{ page.content | safe }}
  
</div>
</br>
</center>
{% endblock content %}
