/* Font family support */
html[data-font-family="serif"] {
  --font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

html,
html[data-font-family="sans-serif"] {
  --font-family: system-ui, sans-serif;
}

html[data-font-family="monospace"] {
  --font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

/* Color scheme support */
html, html[data-theme="light"] {
  --background-color: #ECEFF4;
  --secondary-background-color: #D8DEE9;
  --color: #2E3440;  
  --secondary-color: #4C566A;
  --link-color: #5E81AC;
  --border-color: #D8DEE9;
}

html, html[data-theme="dark"] {
  --background-color: #282C34;
  --secondary-background-color: #2B303B;
  --color: #ABB2BF;
  --secondary-color: #707682;
  --link-color: #61AFEF;
  --border-color: #383D48;
}

@media (prefers-color-scheme: light) {
  html {
    --background-color: #ECEFF4;
    --secondary-background-color: #D8DEE9;
    --color: #2E3440;  
    --secondary-color: #4C566A;
    --link-color: #5E81AC;
    --border-color: #D8DEE9;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #282C34;
    --secondary-background-color: #2B303B;
    --color: #ABB2BF;
    --secondary-color: #707682;
    --link-color: #61AFEF;
    --border-color: #383D48;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Generic styles */
:root {
  --column-width: 95ch;
  --form-width: 50ch;
  --line-width: 0.105rem;
  --line-height: 1.5;
  --one-line: calc(var(--line-height) * 1rem);
  --half-line: calc(var(--one-line) * 0.5);

  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--color);
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

footer:not(.exclude) {
  border-top: var(--line-width) solid;
  border-color: var(--border-color);
  padding-top: 10px;
  display: block;
}

blockquote:not(.exclude) {
  padding-left: var(--one-line);
  font-style: italic;
}

ul,
ol {
  padding-left: calc(var(--line-height) * 2rem);
}

:is(body, main, figure)>img:not(.exclude) {
  max-width: 75%;
}

img {
  max-width: 100%;
}

figure:not(.exclude) {
  text-align: center;
}

figure:not(.exclude)>*~figcaption {
  margin-top: 0;
  font-style: italic;
}

article>aside:not(.exclude) {
  border: var(--line-width) solid;
  border-radius: var(--half-line);
  padding: 0 var(--one-line);
}

pre {
  max-width: 100%;
  overflow: auto;
  padding: 20px;
}

hr {
  color: var(--border-color);
  border: 0;
  border-top: var(--line-width) solid;
}

/* Vertical Rhythm */
p,
ul,
ol,
figcaption,
nav,
td,
th,
label {
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
hr,
footer,
nav,
figure,
figcaption,
ul,
ol,
:is(body, article, main)>img:not(.exclude),
table,
article>aside,
article>aside {
  margin: var(--one-line) 0;
}

/* Headings */

h1 {
  font-weight: normal;
}

h1,
h2 {
  line-height: calc(var(--line-height) * 2rem);
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3,
h4,
h5,
h6 {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: var(--one-line);
  padding-top: calc(var(--line-height) * 0.75rem);
  margin-bottom: calc(var(--line-height) * 0.25rem);
}

:is(h3, h4, h5, h6)~* {
  margin-top: 0;
}

/* Navbar */
body>nav {
  font-size: 1rem;
  font-family: monospace;
  text-align: center;
  border-width: var(--line-width) 0;
  border-style: solid;
  border-color: var(--border-color);
  line-height: var(--line-height);
  padding: calc((var(--line-height) * 0.5rem) - var(--line-width));
  display: flex;
  flex-flow: row wrap;
  margin-top: 0;
}

body>nav>* {
  flex-grow: 1;
  margin: 0 var(--half-line);
  text-transform: lowercase;
}

.header-container {
  min-height: 70px;
  padding-bottom: 5px;
}

/* Column */
html,
body {
  margin: 0 auto;
  width: min(95%, var(--column-width));
  position: relative;
  min-height: 100%;
}

/* Justification (default off; use data-justify="on" on <html> to enable) */
/* 67ch (var(--column-width) / 95% (column max-width) === 70.526315789ch */
@media (min-width: 70.5ch) {
  [data-justify="on"] body {
    text-align: justify;
    text-justify: inter-character;
  }
}

/* Tables */
table:not(.exclude) {
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
}

table:not(.exclude) :is(td, th) {
  padding: calc(var(--line-height) * 0.25rem);
  border: var(--line-width) solid;
  border-color: var(--border-color);
}

table:not(.exclude) td {
  word-wrap: break-word;
}

/* Forms */
form {
  max-width: 75%;
  margin: var(--half-line) auto;
}

form:not(.exclude) :is(label:not(input:is([type="checkbox"], [type="radio"]) ~ label), input:not([type="checkbox"], [type="radio"]), textarea, select) {
  margin: var(--half-line) auto;
}

form:not(.exclude) :is(input:not([type="checkbox"], [type="radio"]), textarea, select) {
  box-sizing: border-box;
  padding: var(--half-line);
  background: var(--secondary-background-color);
  border: 0;
  color: inherit;
  font: inherit;
  width: 100%;
}

form:not(.exclude) label:not(input:is([type="checkbox"], [type="radio"]) ~ label) {
  font-weight: bold;
}

.h-captcha {
  margin: var(--half-line) auto;
  background: transparent;
  color: var(--link-color);
  font: inherit;
  border: 0;
}

.button-text {
  opacity: 80%;
  text-align: left;
  padding: 10px;
}

.button-text:hover {
  opacity: 100%;
}

/* Styling on smaller screens */
@media (max-width: 700px) {
  form,
  article:is(.blog-link),
  h1:is(.site-head),
  img:is(.homepic),
  div:is(.footer-nav, .footer-license, .tech-icons, .about-container, .typewriter-container, .page-content, .page-description, .latest-blog, .project-card),
  p:is(.page-description) {
    max-width: 99%;
    width: 92%;
    padding: 10px;
  }
}

.date-stamp {
  color: var(--secondary-color);
  margin: 1px;
}

.tag-container {
  padding: 0px 0px 10px 0px;
  border-bottom: var(--line-width) solid;
  border-color: var(--border-color);}

.title {
  margin: 24px 0 0 0;
}

.blog-title {
  text-align: left;
  margin-bottom: 0px;
}

.blog-description {
  color: var(--secondary-color);
}

.post-dates {
  padding-top: 10px;
  display: block;
}

.description-container {
  text-align: center;
  max-width: 40%;
}

.contact-name {
  float: left;
  width: 47.5%
}

.contact-email {
  float: right;
  width: 47.5%
}

.search-bar-container {
  max-width: 100%;
}

.search-button {
  max-width: 20%;
}

.is-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input:focus {
  outline: solid 0px;
}

textarea::placeholder,
input::placeholder {
  font-size: 85%;
}

textarea {
  resize: none;
  height: 200px;
  outline: solid 0px;
}

.site-head {
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: monospace;
}

.base-head {
  margin-bottom: 0px;
  text-align: left;
}

.social-icon {
  padding: 10px 10px 10px 10px;
  color: var(--color);
  display: inline-block;
}

.footer-icon {
  color: var(--color);
  display: inline-block;
  padding: 5px 5px 5px 5px;
}

.social-icon:is(:hover, :focus),
.footer-icon:is(:hover, :focus) {
   color: var(--link-color);
}

@media (prefers-reduced-motion: no-preference) {
  a:not(.blog-head, .tag, .footer-icon, .site-head-a) {
    text-decoration: none;
    display: inline-block;
    color: var(--link-color);
  }

  a:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: var(--link-color);
    transition: 200ms;
  }

  a:is(:hover, :focus):not(.footer-icon, .social-icon, .blog-head, .tag, .continue-reading, .site-head-a)::after {
    width: 100%;
  }

  a:focus {
    outline: solid 0px;
  }

  .not-active {
    color: var(--border-color);
    opacity: 60%;
    pointer-events: none;
  }

  .not-active:is(:hover)::after {
    width: 0%;
  }

  .not-active:hover {
    opacity: 60%;
  }

  .blog-link {
    min-width: 90%;
    max-width: 90%;
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
    transition: color .3s ease-out;
    line-height: 0;
    margin: 3px 0 3px 0;
    padding-bottom: 20px;
  }
  
  .blog-link::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    transform: translateX(calc(0px - 100%));
    width: 100%;
    height: 100%;
    transition: transform .25s ease-out;
    background-color: var(--secondary-background-color);
    z-index: -1;
  }
  
  .blog-link:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
  }
  
  .blog-link:hover a {
    color: var(--link-color);
  }

  .site-head-a {
    color: var(--color);
    text-decoration: none;
  }
}

/* See `config.toml` for the code syntax highlighting generated in Zola */

code {
  color: var(--color);
  font-size: 11pt;
}

blockquote {
  padding: 10px;
  color: var(--secondary-color);
  border-left: 5px solid var(--secondary-background-color);
}

li::marker {
  color: #888F99;
}

article {
  padding: 0 35px 1px 35px;
  color: var(--color);
  text-align: left;
}

article h3 {
  padding-top: 0px;
}

.pagination-nav {
  text-align: center;
  display: flex;
  padding: 10px;
}

.pagination-nav>* {
  flex-grow: 1;
}

.blog-head, 
.tag {
  color: var(--color);
  text-decoration: none;
  display: inline-block;
  font-family: monospace;
}

.tag {
  padding: 0px 5px 0px 5px;
  font-size: 11pt;
  text-decoration: underline;
}

.tag::before {
  content: '#';
}

.tag:is(:hover, :focus) {
  color: var(--link-color);
}

.blog-head:after {
  content: '';
  width: 0;
  height: 1px;
  transition: 200ms;
}

.blog-head:is(:hover, :focus)::after {
  width: 100%;
}

.footer-nav {
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

.footer-license {
  font-family: monospace;
  font-size: 1rem;
  padding-bottom: 25px;
  text-align: center;
}

.page-content {
  text-align: left;
  max-width: 80%;
  min-height: 100%;
  padding-top: 10px;
}

.page-description {
  max-width: 50%;
  text-align: center;
}

.about-container {
  padding-top: 10px;
  margin-top: 15px;
  min-height: 350px;
  max-width: 75%;
}

.home-icons {
  padding: 5px 10px 5px 10px;
}

.homepic {
  border-radius: 20px;
  width: 75%;
  margin: 10px;
}

.terminal-text {
  font-family: monospace;
  font-size: 1rem;
  margin: 5px;
}

.typewriter-container {
  min-width: 45%;
  text-align: left;
  background-color: var(--secondary-background-color);
  padding: 10px;
  max-width: 75%;
  margin-top: 25px;
}

#typewriter {
  margin: 5px;
  font-family: monospace;
  font-size: 1rem;
}

#typewriter::after {
  font-family: monospace;
  content: '█';
  width: 0;
  display: inline-block;
  border-left: 3px solid transparent;
}

.home-feeds {
  min-height: 250px;
}

.latest-blog {
  max-width: 70%;
}

.latest-container {
  min-height: 200px;
}

.continue-reading {
  float: right;
  margin-bottom: 20px;
}

.tech-icons {
  max-width: 75%;
  padding: 15px;
}

.project-card {
  position: relative;
  padding: 10px;
  width: 42%;
  height: 250px;
  display: block;
  overflow: hidden;
  float: left;
  margin: 5px;
  padding: 20px;
  background-color: var(--secondary-background-color);
}

.projects {
  position: relative;
  min-height: 975px;
  margin-top: 10px;
}

.project-link-icons {
  position: absolute;
  bottom: 0;
}

.project-title {
  text-align: left;
  margin-top: 0px;
  padding: 0px 0px 3px 0;
  color: var(--link-color)
}

.project-description {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}