{
	# Staging acme_ca
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	# Production acme_ca
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

http://localhost:8000 {
	root * /public
	file_server
}

https://btp.dev {
	root * /public
	file_server
}
