{
	email btp@brandont.dev
	# Optional staging lets encrypt for testing. Comment out for production.
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

:443 {
	reverse_proxy static-web-server:80
}

:80 {
	reverse_proxy static-web-server:80
}
