/* readable.css 1.0.0 */

/* Font family support */
html, html[data-font-family="serif"] {
  --font-family: Fira-Code;
}
html[data-font-family="sans-serif"] {
  --font-family: Fira-Code;
}
html[data-font-family="monospace"] {
  --font-family: Fira-Code;
}

/* Color scheme support */
html, html[data-theme="light"] {
  --background-color: #ABB2BF;
  --color: #282C34;
}

html[data-theme="dark"] {
  --background-color: #282C34;
}

@media (prefers-color-scheme: dark) {
  html {
  --background-color: #282C34;
  --color: #ABB2BF;
  }
}

/* Generic styles */
:root {
  --column-width: 95ch;
  --form-width: 50ch;
  --line-width: 0.105rem;
  --line-height: 1.5;

  --one-line: calc(var(--line-height) * 1rem);
  --half-line: calc(var(--one-line) * 0.5);

  font-family: var(--font-family);

  background-color: var(--background-color);
  color: var(--color);
}

header, footer, h1, h2 {
  text-align: center;
}

footer:not(.exclude) {
  border-top: var(--line-width) solid;
  border-color: #383D48;
  padding-top: 10px;
  display: block;
}

summary {
  cursor: pointer;
}

blockquote:not(.exclude) {
  padding-left: var(--one-line);
}

ul, ol {
  padding-left: calc(var(--line-height) * 2rem);
}

:is(body, main, figure) > img:not(.exclude) {
  max-width: 75%;
}

figure:not(.exclude) {
  text-align: center;
}

figure:not(.exclude) > * ~ figcaption {
  margin-top: 0;
  font-style: italic;
}

article > aside:not(.exclude) {
  border: var(--line-width) solid;
  border-radius: var(--half-line);
  padding: 0 var(--one-line);
}

pre {
  max-width: 100%;
  overflow: auto;
  padding: 20px;
}

hr {
  color: #383D48;
  border: 0;
  border-top: var(--line-width) solid;
}

/* Vertical Rhythm */
p, ul, ol, figcaption, nav, td, th, label {
  line-height: var(--line-height);
}

h1, h2, h3, h4, h5, h6, p, blockquote, hr, footer, header, nav, figure, figcaption, ul, ol, :is(body, article, main) > img:not(.exclude), table, article > aside, article > aside {
  margin: var(--one-line) 0;
}

/* Headings */

header h1 {
  font-weight: normal;
}

h1, h2 {
  line-height: calc(var(--line-height) * 2rem);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3, h4, h5, h6 {
  line-height: var(--one-line);
  padding-top: calc(var(--line-height) * 0.75rem);
  margin-bottom: calc(var(--line-height) * 0.25rem);
}

:is(h3, h4, h5, h6) ~ * {
  margin-top: 0;
}

/* Navbar */
body > nav {   
  text-align: center;
  border-width: var(--line-width) 0;
  border-style: solid;
  border-color: #383D48;
  line-height: var(--line-height);
  /* Put half a line's height on both top and bottom, then remove the width of the border */
  padding: calc((var(--line-height) * 0.5rem) - var(--line-width)); 
  display:flex;
  flex-flow: row wrap;
}

body > nav > * {
  flex-grow: 1;
  margin: 0 var(--half-line);
  text-transform: lowercase;
}

/* Column */
html, body {
  margin: 0 auto;
  width: min(95%, var(--column-width));
  position: relative;
  min-height: 100%;
}

/* Justification (default off; use data-justify="on" on <html> to enable) */
/* 67ch (var(--column-width) / 95% (column max-width) === 70.526315789ch */
@media (min-width: 70.5ch) {
  [data-justify="on"] body {
    text-align: justify;
    text-justify: inter-character;
  }
}

/* Tables */
table:not(.exclude) {
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
}

table:not(.exclude) :is(td, th) {
  padding: calc(var(--line-height) * 0.25rem);
  border: var(--line-width) solid;
  border-color: #383D48;
}

table:not(.exclude) td {
  word-wrap: break-word;
}

/* Forms */
form {
  max-width: 60%;
  margin: var(--half-line) auto;
}

form:not(.exclude) :is(label:not(input:is([type="checkbox"], [type="radio"]) ~ label), input:not([type="checkbox"], [type="radio"]), textarea, select) {
  margin: var(--half-line) auto;
}

form:not(.exclude) :is(input:not([type="checkbox"], [type="radio"]), textarea, select) {
  box-sizing: border-box;
  padding: var(--half-line);
  background: #2B303B;
  border: 0;
  color: inherit;
  font: inherit;
  width: 100%;
}

form:not(.exclude) label:not(input:is([type="checkbox"], [type="radio"]) ~ label) {
  font-weight: bold;
}

.h-captcha {
  margin: var(--half-line) auto;
  background: transparent;
  color: #61AFEF;
  font: inherit;
  border: 0;
}

.button-text {
  opacity: 70%;
  text-align: left;
}

.button-text:hover {
  opacity: 100%;
}

/* Some elements on smaller screens need to be wider */
@media (max-width: 700px) {
  form, a:is(.article-link), p:is(.footer-content) {
    max-width: 100%
  }
}

/* Custom CSS: Added classes and other elements that deviate from readable.css */
.contact-name {
  float: left;
  width: 48%
}

.contact-email {
  float: right;
  width: 48%
}

.contact-description {
  max-width: 50%;
  text-align: center;
}

input:focus {
  outline: solid 0px;
}

textarea::placeholder, 
input::placeholder {
  font-size: 85%;
}

textarea {
  resize: none;
  height: 200px;
  outline: solid 0px;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-icon {
  padding: 8px;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
   a:not(.article-link) {
    text-decoration: none;
    display: inline-block;
    color: #61AFEF;
    opacity: 60%;
  }

   a:after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background: #61AFEF;
    transition: 200ms;
  }

  a:is(:hover, :focus):not(.footer-icon, .article-link)::after {
    width: 100%;
  }

  a:focus {
    outline: solid 0px;
  }

  a:hover {
    opacity: 100%;
  }

  .not-active {
    color: #61AFEF;
    opacity: 60%;
    pointer-events: none;
  }

  .not-active:is(:hover)::after {
    width: 0%;
  }

  .not-active:hover {
    opacity: 60%;
  }
}

/* See `config.toml` for the code syntax highlighting generated in Zola */
code {
  background-color: #2B303B;
  color: #D5C4A1;
}

blockquote {
  padding: 5px;
  background-color: #2B303B;
  border-left: 5px solid #A89984;
  width: 80%;
}

li::marker {
  color: #888F99;
}

article {
  padding: 0 35px 1px 35px;
  color: var(--color);
  text-align: left;
}

.pagination-nav {
  text-align: center;
  display:flex;
}

.pagination-nav > * {
  flex-grow: 1;
}

.article-link {
  text-decoration: none;
  display: inline-block;
  max-width: 70%;
}

.article-link:hover h3 {
  color: #61AFEF;
}

.article-link:hover {
  background-color: #2B303B;
}

.footer-content {
  text-align: center;
  max-width: 90%;
}

.page-content {
  max-width: 70%;
  text-align: left;
}

.section {
  padding-bottom: 5px;
}
