{% extends "base.html" %}
{% block content %}

{% set section = get_section(path="blog/_index.md") %}
<h2 class="title">
  {{ page.title }}
</h2>

{% for year, posts in section.pages | group_by(attribute="year") %}
  {% if year != "2000" %}
    <h2>{{ year }}</h2>
  {% endif %}
  
    <ul>
    {% for post in posts %}
    {% if post.title != "Archive" %}
      <li><a href="{{ post.permalink }}">{{ post.title }}</a> · {{ post.date }}</li>
    {% endif %}
    {% endfor %}
    </ul>
{% endfor %}

{% endblock content %}
