{% extends "base.html" %}
{% block content %}

{% set section = get_section(path="blog/_index.md") %}
<h2 class="title">
  {{ page.title }}
</h2>

<center>
<div class="page-content">
{% for year, posts in section.pages | group_by(attribute="year") %}
  {% if year != "2000" %}
    <h3>{{ year }}</h3>
  {% endif %}

    <ul>
    {% for post in posts %}
      {% if post.title != "Archive" %}
        {% if post.updated %}
          <li>{{ post.date }} · Updated {{ post.updated }} · <a href="{{ post.path }}">{{ post.title }}</a></li>
        {% else %}
          <li>{{ post.date }} · <a href="{{ post.path }}">{{ post.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>

{% endfor %}
</div>
</center>
</br>

{% endblock content %}
