<!DOCTYPE html>
<html lang="en">

{% set_global site_base = "brandont.dev" %}

<head>
  {% block head %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ get_url(path="readable.css") | safe }}">
  <script defer data-domain="brandont.dev" src="https://plausible.io/js/script.js"></script>
  <!-- Page Title -->
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% elif section.title %}
  <title>{{ section.title }}</title>
  {% else %}
  <title>{{ site_base }}</title>
  {% endif %}

  <!-- RSS -->
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=" rss.xml", trailing_slash=false)}}">
  {% endblock %}

  {% endblock head %}
</head>

<body>
  <!-- Header & Nav-bar -->
  <div class="header-container">
    <h1 class="site-head">brandont.dev</h1>
  </div>

  <nav>
    <span><a href="/">Home</a></span>
    <span><a href="/blog">Blog</a></span>
    <span><a href="/projects">Projects</a></span>
    <span><a href="/blogroll">Blogroll</a></span>
    <span><a href="/contact">Contact</a></span>
  </nav>

  <!-- Body Content -->
  {% block content %}
  {% endblock %}

  </center>
  <!-- Footer -->
  {% block footer %}
  <footer>
    </br>
    <div class="footer-content">
      <small>
        <a href="/privacy">Privacy </a>
        ·
        <a href="/about">About</a>
        ·
        <a href="https://plausible.io/brandont.dev" target="_blank">Analytics</a>
        ·
        <a href="/contact">Contact</a>
        </br>
        Copyright ⓒ 2023 Brandon Phillips
        </br>
        Content of this site is <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC-BY-NC-SA</a>
        </br>
        <a href="https://codeberg.org/brandont/brandont.dev" target="_blank">Code</a> is <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">GNU AGPLv3</a>
      </small>
    </div>
  </footer>
  </br>
  {% endblock footer %}
</body>
</html>