<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="simple.css"/>
  <title>Brandon Phillips</title>
</head>

<body>
  <header>
    </br>
    <h1>Brandon Phillips</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/About Me">About Me</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/socials">Socials</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>

  <!-- front page content -->
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>

  <footer>
    <p>Placeholder footer text</p>
  </footer>
</body>

</html>
