{% extends "base.html" %}
{% block content %}

<h2 class="title">
  {{ section.title }}
</h2>
<p style="text-align: center;">
  <small>Subscribe to the <a href="/rss.xml" target="_blank">RSS feed</a>.</small>
  </br>
  <small><a href="/blog/archive">Post Archive</a></small>
</p>

<center>
<div class="blog-container">
  <!-- Paginated Blog List - Displays 5 posts per page -->
  <div class="blog-list">
  {% for page in paginator.pages %}
    {% if page.title != "Archive" %}
    <a class="blog-link" href="{{ page.permalink | safe }}">
      <article>
        <h3>{{ page.title }}</h3>
        <p>
        {% if page.updated %}
          <small class="date-stamp">
            <b>Updated · </b>{{ page.updated }} | 
          </small>
        {% endif %}
          <small class="date-stamp">
            <b>Published · </b>{{ page.date }}
          </small>
        </br>
        {{ page.description | safe }}
        {% if page.taxonomies %}
          </br>
          {% set map = page.taxonomies %}
          {% set_global tags = [] %}
          {% for tax, tag in map %}
            {% set_global tags = tags | concat(with=tag) %}
          {% endfor %}
          {% for tag in tags %}
            <small>{{ tag }} </small>
          {% endfor %}
        {% endif %}
        </p>
      </article>
    </a>
    {% endif %}
  {% endfor %}
  </div>
</div>
</center>

<!-- Pagination navigation -->
{% if paginator %}
<section class="pagination-nav">
  {% if paginator.previous %}
  <span style="text-align: left;"><a href="{{ paginator.first }}">‹‹ </a>
  <a href="{{ paginator.previous }}">‹ Prev</a>
  {% else %}
  <span style="text-align: left;" class="not-active">‹‹ ‹ Prev
  {% endif %}
  </span>

  <span><small>{{ paginator.current_index }} / {{ paginator.number_pagers }}</small></span>

  {% if paginator.next %}
  <span style="text-align: right;"><a href="{{ paginator.next }}">Next ›</a>
  <a href="{{ paginator.last }}"> ››</a>
  {% else %}
  <span style="text-align: right;" class="not-active">Next › ››
  {% endif %}
  </span>
</section>
{% endif %}
{% endblock content %}