{% extends "base.html" %}
{% block content %}

<h2 class="title">
  {{ section.title }}
</h2>

<center>
<div class="page-description">
  <small>Subscribe to the <a href="/rss.xml" target="_blank">RSS feed</a>.
  </br>
  <a href="/blog/archive">Archive</a> · <a href="/tags">Tags</a></small>
</div>

<div class="blog-container">
  <!-- Paginated Blog List - Displays 5 posts per page -->
  {% for page in paginator.pages %}
    {% if page.title != "Archive" %}
      <article class="blog-link">
        <h3><a class="blog-head" href="{{ page.permalink }}">{{ page.title }}</a></h3>

        <p>
        {% if page.updated %}
          <small class="date-stamp">
            <b>Updated · </b>{{ page.updated }} | 
          </small>
        {% endif %}
          <small class="date-stamp">
            <b>Published · </b>{{ page.date }}
          </small>
        </br>

        {{ page.description | safe }}

        {% if page.taxonomies %}
          </br>
          {% set map = page.taxonomies %}
          {% set_global tags = [] %}

          {% for tax, tag in map %}
            {% set_global tags = tags | concat(with=tag) %}
          {% endfor %}
          {% for tag in tags %}
            <small>
              <a class="tag" href="/tags/{{ tag }}">{{ tag }}</a>
            </small>
          {% endfor %}
        {% endif %}
        </p>

      </article>
    {% endif %}
  {% endfor %}
</div>
</center>

<!-- Pagination navigation -->
{% if paginator %}
<section class="pagination-nav">
  {% if paginator.previous %}
  <span style="text-align: left;"><a href="{{ paginator.first }}">‹‹ </a>
  <a href="{{ paginator.previous }}">‹ Prev</a>
  {% else %}
  <span style="text-align: left;" class="not-active">‹‹ ‹ Prev
  {% endif %}
  </span>

  <span><small>{{ paginator.current_index }} / {{ paginator.number_pagers }}</small></span>

  {% if paginator.next %}
  <span style="text-align: right;"><a href="{{ paginator.next }}">Next ›</a>
  <a href="{{ paginator.last }}"> ››</a>
  {% else %}
  <span style="text-align: right;" class="not-active">Next › ››
  {% endif %}
  </span>
</section>
{% endif %}
{% endblock content %}