{% extends "base.html" %}
{% block content %}

<h2 class="title">
  {{ section.title }}
</h2>
<p style="text-align: center;">Subscribe to the <a href="/rss.xml" target="_blank">RSS feed</a>.</p>

<!-- Paginated Blog List - Displays 3 posts per page -->
<center>
{% for page in paginator.pages %}
  <a class="article-link" href="{{ page.permalink | safe }}">
    <article>
      <h3 class="article-header">{{ page.title }}</h3>
      <p>
        {% if page.updated %}
        <small style="color: #707682"><b>Updated · </b>{{ page.updated }}</small>
        {% else %}
        <small style="color: #707682">{{ page.date }}</small>
        {% endif %}
        </br>
        {{ page.description | safe }}
      </p>
    </article>
  </a>
{% endfor %}
</center>

<!-- Pagination navigation -->
{% if paginator %}
<nav class="pagination-nav">

  {% if paginator.previous %}
  <span style="text-align: left;"><a href="{{ paginator.first }}">‹‹ </a>
  <a href="{{ paginator.previous }}">‹ Prev</a>
  {% else %}
  <span style="text-align: left;" class="not-active">‹‹ ‹ Prev
  {% endif %}
  </span>

  <span><small>{{ paginator.current_index }} / {{ paginator.number_pagers }}</small></span>

  {% if paginator.next %}
  <span style="text-align: right;"><a href="{{ paginator.next }}">Next ›</a>
  <a href="{{ paginator.last }}"> ››</a>
  {% else %}
  <span style="text-align: right;" class="not-active">Next › ››
  {% endif %}
  </span>
</nav>
{% endif %}
{% endblock content %}