{% extends "base.html" %}
{% block content %}

<h2 class="title">
  {{ section.title }}
</h2>

<form>
    <div class="form-top">
      <div class="contact-name">
        <input type="text" id="name" name="name" placeholder="Name">
      </div>
      <div class="contact-email">
        <input type="email" id="email" name="email" placeholder="you@example.com">
      </div>
    </div>
      <textarea name="message" placeholder="What's up?"></textarea>
      <input type="submit" value="Send" style="width: 50%;">
</form> 

{% endblock content %}
