{% extends "base.html" %}
{% block content %}

<h1 class="title">
  {{ section.title }}
</h1>

<form>
  <div>
    <div style="display: flex">
      <input type="text" id="name" name="name" placeholder="Your name" style="text-align: center; padding: 5px">
      <input type="email" id="email" name="email" placeholder="you@example.com" style="text-align: center; width:100%; padding: 5px">
    </div>
    <input type="text" id="message" name="message" placeholder="What's up?" style="text-align: justify; width:100%; height:200px">
    <div style="display: flex">
      <input type="submit" value="Send" style="width:50%">
    </div>
  </div>
</form> 

{% endblock content %}
