{% extends "base.html" %}

{% block content %}

<h1 class="title">
  {{ section.title }}
</h1>

<form>
  <label for="firstname" style="width:100%; float:left; margin: 0 20px 0 0;">
    <input type="text" id="fristname" name="firstname" placeholder="First" style="width:50%; padding: 5px">
    <input type="text" id="lastname" name="lastname" placeholder="Last" style="width:50%; padding: 5px">
  </label>

  <input type="email" id="email" name="email" placeholder="you@example.com" style="width:100%">
  <input type="submit" value="Submit" style="width:100%">
</form> 

{% endblock content %}
