{% extends "base.html" %}
{% block title %}
brandont.dev
{% endblock title %}

{% block content %}
<center>

<div class="about-container">
  <div class="typewriter-container">
    <p class="terminal-text">$: cat ~/about</br>
      # Welcome!</br>
      I'm Brandon. A systems admin, rookie devops engineer, and aspiring software developer in Colorado.</br>
      </br>
      This is my personal website and blog. Find my thoughts and goings on around the internet here.
    </p>
    <br>
    <p class="terminal-text">$: ./me.sh
    <p id="typewriter"></p>
    <script src="typewriter.js"></script>
  </div>
</div>

</br>

<div class="latest-blog">
<h2>Latest Blog Post</h2>
{% set section = get_section(path="blog/_index.md") %}
{% set latest_post = section.pages | first %}
  <article class="blog-link">
    <h3>
      <a class="blog-head" href="{{ latest_post.permalink }}">{{ latest_post.title }}</h3>
    </a>

    <p>
      {% if latest_post.updated %}
        <small style="color: #707682"><b>Updated · </b>{{ latest_post.updated }} | </small>
      {% endif %}
        <small style="color: #707682"><b>Published · </b>{{ latest_post.date }}</small>
      </br>
    </p>

      {% if latest_post.taxonomies %}
        </br>
        {% for tag in latest_post.taxonomies.tags %}
          <small>
            <a class="tag" href="/tags/{{ tag }}">{{ tag }}</a></span>
          </small>
        {% endfor %}
      {% endif %}

    <p>
      {{ latest_post.summary | safe }}
      <a class="continue-reading" href="{{ latest_post.path }}#continue-reading">
        Continue Reading
      </a>
    </p>

  </article>
</div>

</center>
{% endblock content %}