{% extends "base.html" %}
{% block content %}
<div class="about-container">
  <img 
    class="homepic" 
    src="brandon.png" 
    alt="Bearded white guy wearing glasses and a wide-brim hat"
    title="Me, lookin' sharp." 
  />

  <div class="typewriter-container">
    <p id="typewriter" style="margin: 5px;"></p>
    <script src="typewriter.js"></script>
  </div>

  <div class="about-text">
  <small>
    Welcome! I'm Brandon, and I'm a systems administrator and devops engineer. In the Summer of 2020, I began learning programming and 
    various other technologies to pursue a new career in Software development, and continue learning every day. 
    </br>
    </br>
    Afer I began my first tech job at <a href="https://absolute-performance.com">Absolute Performance Inc.</a> as a systems administrator, I quickly took to automation, and now work on DevOps projects and automation.
    </br>
    </br>
    If you'd like to get in touch regarding any freelance or open source contributions, please send me an <a href="/contact">email</a>.
  </small>
  </div>
</div>
<hr>

<dev class="latest-blog">
{% set section = get_section(path="blog/_index.md") %}
{% set latest_post = section.pages | first %}
  <h3 style="text-align: left; padding-bottom: 5px;">Latest Blog Post</h2>
  <a class="article-link" style="max-width: 50%" href="{{ latest_post.permalink | safe }}">
    <article>
      <h3 class="article-header">{{ latest_post.title }}</h3>
      <p>
        {% if latest_post.updated %}
        <small style="color: #707682"><b>Updated · </b>{{ latest_post.updated }} | </small>
        {% endif %}
        <small style="color: #707682"><b>Published · </b>{{ latest_post.date }}</small>
        </br>
        {{ latest_post.description | safe }}
      </p>
    </article>
  </a>
</dev>
{% endblock content %}