{% extends "base.html" %}
{% block content %}
<h2 class="title">
  #{{ term.name }}
</h2>

<center>
<div class="page-content">
<h3>Projects</h3>
<ul>
{% for page in term.pages %}
  {% if page.path is containing("projects") %}
    <li><a href="{{ page.path }}">{{ page.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<h3>Blog Posts</h3>
  {% for year, posts in term.pages | group_by(attribute="year") %}
  <b>{{ year }}</b>
  <ul>
    {% for post in posts %}
      <li><a href="{{ post.path }}">{{ post.title }}</a> - {{ post.date }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
    </p>
</div>
</center>
</br>
{% endblock content %}
